section#barraimportantes {
	background: whitesmoke;
	padding: 0 20px;
}
section#barraimportantes > ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
section#barraimportantes > ul > li {
	list-style: none;
	height: 34px;
	display: flex;
	align-items: center;
	margin-left: 20px;
	position: relative;
}
section#barraimportantes > ul > li > span {
	color: #bfbfbf;
	font-size: 1.2em;
	margin-right: 6px;
}
section#barraimportantes > ul > li > p {
	font-size: .9em;
	margin: 0;
	padding: 0;
	position: relative;
	top: -1px;
}
section#barraimportantes > ul > li.favoritos > span {
	transition: color 0.3s ease-out;
}
section#barraimportantes > ul > li.favoritos:hover > span {
	color: #f30f0f;
}
section#barraimportantes > ul > li.cuenta:hover > span {
	color: black;
}
section#barraimportantes > ul > li > div.desplegado {
	background: white;
	border: 1px solid whitesmoke;
	border-top: none;
	width: 300px;
	height: 100px;
	position: absolute;
	top: 34px;
	right: 0;
	box-shadow: 2px 7px 20px -16px black;
}
section#barraimportantes > ul > li > div.desplegado section.loadinggggg {
	padding-top: 30px;
}
section#barraimportantes > ul > li > div.desplegado section.loadinggggg > img {
	width: 40px;
}
section#barraimportantes > ul > li > div.desplegado.micuenta > div > img {
	width: 70px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 1px solid #ccc;
	padding: 5px;
}
section#barraimportantes > ul > li > div.desplegado.micuenta > div > h4 ,
section#barraimportantes > ul > li > div.desplegado.micuenta > div > p {
	text-align: left;
	margin-left: 105px;
}
section#barraimportantes > ul > li > div.desplegado.micuenta > div > h4 {
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 1.5em;
}
section#barraimportantes > ul > li > div.desplegado.micuenta > div > p {
	margin-top: 0;
}
section#barraimportantes > ul > li > div.desplegado.micuenta > div > p > a {
	color: #e7646a;
}

