section#barrasuperior {
	background: #e7646a;
}
section#barrasuperior > a {
	text-decoration: none;
	margin: 0;
}
section#barrasuperior > a > p {
	color: white;
	margin: 0;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 10px 1%;
}