section#barrasuperior {
	background: var( --celeste );
}
section#barrasuperior > p {
	color: white;
	margin: 0;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.05em;
	padding: 10px 1%;
}