:root {
	--movimiento: all 0.3s ease-in;
	--boton_default_color_base: #0699c0;
	--boton_default_color_hover: #047e9e;




	--boton_warning_color_base: #ffab00;
	--boton_warning_color_hover: #e59a02;
	
	


	--boton_comprar_color_base: #ffce00;
	--boton_comprar_color_hover: #e59a02;
	
	

	--boton_danger_color_base: #de350b;
	--boton_danger_color_hover: #bf2600;
	--boton_disabled_color_base: #f5f5f5;
	--boton_disabled_color_hover: #d9d9d9;
}
button#button {
	min-width: 160px;
	height: 40px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	list-style: none;
	text-align: center;
	color: black;
	text-decoration: none;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden !important;
	transition: var(--movimiento);
	border-radius: 20px;
}

button#button.primary {
	background: var(--boton_default_color_base);
	border: 1px solid var(--boton_default_color_hover);
}
	button#button.primary:hover {
		background: var(--boton_default_color_hover);
	}
button#button.primary > span {
	background: var(--boton_default_color_hover);
}

button#button.warning {
	background: var(--boton_warning_color_base);
	border: 1px solid var(--boton_warning_color_hover);
}
	button#button.warning:hover {
		background: var(--boton_warning_color_hover);
	}
button#button.warning > span {
	background: var(--boton_warning_color_hover);
}

button#button.comprar {
	background: var(--boton_comprar_color_base);
	border: 1px solid var(--boton_comprar_color_hover);
}
	button#button.comprar:hover {
		background: var(--boton_comprar_color_hover);
	}
button#button.comprar > span {
	background: var(--boton_comprar_color_hover);
}

button#button.danger {
	background: var(--boton_danger_color_base);
	border: 1px solid var(--boton_danger_color_hover);
}
	button#button.danger:hover {
		background: var(--boton_danger_color_hover);
	}
button#button.danger > span {
	background: var(--boton_danger_color_hover);
}

button#button.disabled {
	cursor: not-allowed;
	background: var(--boton_disabled_color_base);
	border: 1px solid var(--boton_disabled_color_hover);
}
button#button.disabled > span {
	display: none;
}
button#button.disabled > p {
	color: #00000040;
}

button#button > span {
	--medida: 100%;
	width: var(--medida);
	position: absolute;
	left: calc(var(--medida) * -1);
	top: 0;
	height: 40px;
	display: block;
	z-index: 0;
	transition: var(--movimiento);
}
/* SI LO QUIERES DE COSTADO EL EFECTO */
button#button > span {
	--medida: 170%;
	height: 210px;
	transform: rotate(45deg);
	top: -40px;
}
/* /SI LO QUIERES DE COSTADO EL EFECTO */
button#button > p {
	position: absolute;
	z-index: 1;
	color: black;
	text-align: center;
	top: 12px;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
button#button:hover > span {
	left: 0;
}















