@font-face {
	font-family: Recoleta Regular;
	src: url(https://cdn.shopify.com/s/files/1/1150/6518/t/383/assets/RecoletaAlt-Regular.eot);
	src: local("Recoleta Alt Regular"), local("RecoletaAlt-Regular"), url(https://cdn.shopify.com/s/files/1/1150/6518/t/383/assets/RecoletaAlt-Regular.eot?#iefix) format("embedded-opentype"), url(https://cdn.shopify.com/s/files/1/1150/6518/t/383/assets/Recoleta-Regular.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/1150/6518/t/383/assets/RecoletaAlt-Regular.woff) format("woff"),
	url(https://cdn.shopify.com/s/files/1/1150/6518/t/383/assets/RecoletaAlt-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
section#slide {
	width: 100%;
}
section#slide > img {
	width: 100%;
}
section#nosquieren {
	margin: 40px 0 80px;
}
section#nosquieren > h4 {
	font-family: Recoleta Regular;
	font-size: 1.2em;
	text-align: center;
}
section#nosquieren > div {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}
section#nosquieren > div > img {
	width: 12%;
	margin: 0 2%;
}